#header {
	margin-top: 0%;
	margin-left: 25%;
}

#bookTable {
	margin-left: 25%;
	background: white;
	margin-bottom: 0%;
}

#emptyTable {
	margin-left: 25%;
	background: white;
}

#noClass {
	margin-left: 55%;
}

a:hover {
    text-decoration: none;
    color: #0000B2;
}

a {
	color: #0000B2;
}

.green {
	color: #52CC29;
}

.red {
	color: #FF1919;
}

.votes {
	text-align: center;
}

#btn {
	background:transparent; 
	border:none;
	float: right;
}

#bookTable_paginate {
	margin-left: 27.5%;
}

#addBook {
	display: inline-block;
	margin-bottom: 1.5%;
	margin-left: 25%;
}

.regForm {
	font-size: 2em;
}