#header {
	margin-top: 0%;
	margin-left: 10%;
}

#bookTable {
	margin-left: 10%;
	background: white;
	margin-bottom: 0%;
}

#emptyTable {
	margin-left: 10%;
	background: white;
}

#noClass {
	margin-left: 65%;
}

a:hover {
    text-decoration: none;
    color: #0000B2;
}

a {
	color: #0000B2;
}

#bookTable_paginate {

}

#addBook {
	display: inline-block;
	margin-bottom: 1.5%;
	margin-left: 10%;
}

.regForm {
	font-size: 2em;
}