body {
	font-size: 100%;
	font-family: Rajdhani;
	background-image: url("images/p4.png");
}

#title {
	margin-top: 10%;
	text-align: center;
	font-size: 10em;
}

#header1 {
	color: #0000B2;
}

#header2 {
	color: #FFCC00;
}

#icon {
	margin-top: 1%;
}

.btn-info {
	margin-left: 42%;
}

.regForm {
	font-size: 2em;
}