{% extends "login/base.html" %}
{% load static %}

{% block js %}<script type="text/javascript" src="{% static 'login/home.js' %}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'login/home.css' %}"/>{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Recent Submissions</h1>
		<table class="table table-bordered table-striped table-hover" id="recentTable">
		    <thead>
		        <tr>
		            <th>Course</th>
		            <th>Course title</th>
		            <th>Book title</th>
		            <th>Edition</th>
		            <th>Author</th>
		        </tr>
		    </thead>
		    <tbody>
		    	{% for entry in recent_list %}
		    	<tr>
		    		<td><a href="/dept/{{entry.book.course.dept.dept}}/{{entry.book.course.courseNo}}{{entry.book.course.courseLetter}}/"/>{{ entry.book.course.courseCode }}</td>
		    		<td>{{ entry.book.course.courseTitle }}</td>
		    		<td>{{ entry.book.title }}</td>
		    		<td>{{ entry.book.edition }}</td>
		    		<td>{{ entry.book.author }}</td>
		    	</tr>
		    	{% endfor %}
		    </tbody>
		</table>
	</div>
</div>
{% endblock %}